# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# config_api
configs/
configs/api.config

# pytest
.pytest_cache/
.coverage
htmlcov/

# Data files
data/
data/raw/*.mp4
data/raw/*.avi
data/raw/*.mov
data/processed/*.mp4
data/processed/*.avi
data/processed/*.mov

# outputs files
outputs/
outputs/*.mp4
outputs/*.avi
outputs/*.mov
ougput/*.png
outputs/*.jpg
outputs/*.jpeg
outputs/*.csv
outputs/*.txt

# Environment variables
.env
.env.local
.env.prod

# Logs
*.log

# Temporary files
*.tmp
temp/

# Model files (ML weights only)
ml/models/

# documentation
docs/ml/
docs/others/